* {
  font-family: Ubuntu Nerd Font, Noto Sans CJK SC;
  font-size: 14px;
  font-weight: bold;
  min-height: 14px;
}

window#waybar {
  color: @text;
  opacity: 0.95;
  background-color: @crust;
  padding: 2px;
}

#custom-nixos {
  background-color: #24273a;
  padding-left: 15px;
  padding-right: 18px;
}

#custom-separator {
  margin: 0 2px;
}

#workspaces {
  border-radius: 0;
}
#workspaces button {
  padding: 0 10px;
  border-radius: 0;
}
#workspaces button.focused,
#workspaces button.active {
  border-bottom: 4px solid #8aadf4;
}
#workspaces button.empty {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  box-shadow: none;
}
#cpu,
#memory,
#pulseaudio,
#network,
#backlight,
#battery,
#tray {
  margin-right: 15px;
}
#clock {
  font-size: 16px;
}
